@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&display=swap');

:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --color-text-main: #333;
  --color-text-sub: #999;
  --color-text-unpainted: #fff;
  --color-text-error: #f33;
  --color-bg-main: #fff;
  --color-bg-sub: #f3f3f3;
  --color-bg-code: #fafafa;
  --color-bg-painted: #333;
  --color-border-dark: #333;
  --color-border: #ddd;
  --color-border-light: #f3f3f3;
  --color-current: #eee;
  --color-button-primary: #333;
  --border-radius: 4px;
  --header-padding: 20px;
  --header-container-slide: -56px;
}

/* Common style */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
  color: #333;
  margin-right: auto;
  margin-left: auto;
  /* padding-right: 1.5rem;
  padding-left: 1.5rem; */
}

h1 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 3.5rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3rem;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 3rem;
}

p {
  font-size: 1.8rem;
  line-height: 3.5rem;
  margin-bottom: 1.4rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.page-title {
  margin: 2rem 0 4rem;
  text-align: center;
}

input,
textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 2rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.5rem;
  box-sizing: border-box;
  resize: vertical;
  font-size: 1.6rem;
  letter-spacing: 0;
  font-family: inherit;
}

button {
  background: #afafaf;
  font-size: 1.6rem;
  color: #000000;
  padding: 0.6rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.5;
  background: linear-gradient(-20deg, #dddddd 5%, #73ffff 95%);
}

.login-user {
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  color: #000000;
}

.login-user:hover {
  opacity: 0.5;
  transition: all 0.3s;
}

.display-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.margin-bottom {
  margin-bottom: 2rem;
}

.margin-top {
  margin-top: 1rem;
}

.user-icon {
  width: 3rem;
  height: 3rem;
}

.grid-container-in {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

@media (max-width: 1138px) {
  .grid-container-in {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 750px) {
  .grid-container-in {
    grid-template-columns: 1fr;
  }
}

.grid-container-in > a {
  display: block;
  border-radius: 1rem;
  width: 290px;
  border: 0.05rem solid rgb(223, 223, 223);
  margin: 0 auto;
}

.grid-container-in > a:hover {
  backdrop-filter: blur(2rem);
  box-shadow: 0.4rem 0.4rem 1.3rem 0.5rem rgba(0, 0, 0, 0.25);
  transition: all 0.3s;
}

.grid-container-in > a * img,
.grid-container-in > a > img {
  width: 20%;
  height: auto;
  object-fit: contain;
}

.grid-container-in > * > * > div {
  padding: 1rem 1rem;
  color: #333;
}

.grid-container-in > * > * > div > h2 {
  margin-bottom: 1rem;
}

.grid-container-in > * > * > div > h3 {
  color: #1272e0;
}

.grid-container-in > * > * > div > p {
  margin-bottom: 0;
}

/* .menu {
  position: relative;
  margin-top: 1%;
  margin-left: 2%;
  z-index: 1;
  width: 5%;
  height: auto;
}

.hovering-menu:hover {
  opacity: 0.3;
  transition: all 0.3s;
} */

ol,
ul {
  list-style: none;
}

.mainContent {
  max-width: 900px;
  width: 80%;
  margin: 0 auto;
  position: relative;
  top: -30px;
  background-color: white;
  padding: 3rem;
  border-radius: 5px;
}

.basic-font {
  font-size: 2rem;
  font-weight: 400;
}
