@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&display=swap");

/* Common style */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  color: #333;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

h1 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 3.5rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3rem;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 3rem;
}

p {
  font-size: 1.8rem;
  line-height: 3.5rem;
  margin-bottom: 1.4rem;
}

a {
  text-decoration: none;
}

.page-title {
  margin: 3rem 0 4rem;
  text-align: center;
}

label {
  font-size: 1.8rem;
  line-height: 2.5rem;
}

input,
textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 2rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.5rem;
  box-sizing: border-box;
  resize: vertical;
  font-size: 1.6rem;
  letter-spacing: 0;
  font-family: inherit;
}

button {
  background: #afafaf;
  font-size: 1.6rem;
  color: #000000;
  padding: 0.6rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.7;
  background: linear-gradient(-20deg, #dddddd 5%, #73ffff 95%);
}

header * img {
  width: 100%;
  height: auto;
}

header * li {
  display: inline;
}

nav {
  text-align: end;
  margin: 2rem 0 2.2rem;
}

header * li a {
  padding: 0.3rem 1.7rem;
  margin-left: 1rem;
  border-radius: 0.5rem;
  background-image: linear-gradient(-20deg, #dddddd 20%, #73ffff 80%);
  color: #000000;
  font-size: 1.6rem;
  font-weight: 400;
}

header * li a:hover {
  opacity: 0.7;
  transition: all 0.3s;
}

@media(max-width: 400px) {
  header * li a {
    padding: 0.2rem 1.4rem;
    font-size: 1.2rem;
  }
}

.login-user {
  display: flex;
  font-size: 2rem;
  font-weight: 400;
}

.basic-font {
  display: flex;
  font-size: 2rem;
  font-weight: 400;
}

.basic-font-drawer {
  font-size: 2rem;
  font-weight: 500;
  color: #1272e0;
}

.margin-drawer {
  margin-top: 1.5rem;
  margin-left: 1.5rem;
}

.color-light-blue {
  color: #73ffff;
}

.display-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.put-on-end {
  justify-content: flex-end;
}

.margin-left-auto {
  margin-left: auto;
}

.login-switch-information {
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: 2rem;
}

.margin-bottom {
  margin-bottom: 2rem;
}

.user-icon {
  width: 3%;
  height: auto;
}

.grid-container-in {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

@media(max-width: 600px) {
  .grid-container-in {
    grid-template-columns: 1fr;
  }
}

.grid-container-in>a {
  display: block;
  border-radius: 1rem;
  width: 100%;
  border: 0.05rem solid rgb(223, 223, 223);
}

.grid-container-in>a:hover {
  backdrop-filter: blur(2rem);
  box-shadow: 0.4rem 0.4rem 1.3rem 0.5rem rgba(0, 0, 0, 0.25);
  transition: all 0.3s;
}

.grid-container-in>a * img,
.grid-container-in>a>img {
  width: 20%;
  height: auto;
  object-fit: contain;
}

.grid-container-in>*>*>div {
  padding: 1rem 1rem;
  color: #333;
}

.grid-container-in>*>*>div>h2 {
  margin-bottom: 1rem;
}

.grid-container-in>*>*>div>h3 {
  color: #1272e0;
}

.grid-container-in>*>*>div>p {
  margin-bottom: 0;
}

.grid-container-si {
  display: grid;
  grid-template-columns: 0.4fr 0.6fr;
  gap: 2rem;
}

@media(max-width: 600px) {
  .grid-container-si {
    grid-template-columns: 1fr;
  }
}

.grid-container-si>*>img {
  border-radius: 1rem;
  width: 100%;
  height: auto;
}

.grid-container-si>*>*>h3 {
  color: #1272e0;
}

.grid-container-si hr {
  margin: 1.5rem 0;
}

.grid-container-si * a {
  padding: 0.3rem 1.7rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
  background-image: linear-gradient(-20deg, #dddddd 20%, #73ffff 80%);
  color: #000000;
  font-size: 1.6rem;
  font-weight: 400;
}

.grid-container-si * a:hover {
  opacity: 0.7;
  transition: all 0.3s;
}

@media(max-width: 400px) {
  .grid-container-si * a {
    padding: 0.2rem 1.4rem;
    font-size: 1.2rem;
  }
}

.delete-page * img {
  border-radius: 1rem;
}

.delete-page * h1 {
  margin-bottom: 1.5rem;
}

.delete-page * h2 {
  margin: 1rem 0;
}

.img-input {
  display: grid;
  grid-template-columns: 0.8fr 0.2fr;
  gap: 1rem;
}

.img-input>input {
  display: block;
  background-color: rgb(221, 221, 221);
  padding: 0.4rem 0 0 0.5rem;
}

.img-input>button {
  padding: 0;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  height: 3.6rem;
  background: #afafaf;
}

.img-input>button:hover {
  opacity: 0.7;
  background: linear-gradient(-20deg, #dddddd 5%, #73ffff 95%);
}

.img-input>button:disabled,
.img-input>button[disabled] {
  background: #afafaf;
  color: rgb(0, 0, 0);
}

.img-input>button:disabled,
.img-input>button[disabled]:hover {
  opacity: 1;
  cursor: not-allowed;
}

@media(max-width: 400px) {
  .img-input {
    grid-template-columns: 1fr;
    gap: 0rem;
  }

  .img-input>button {
    margin: -1rem 0 3rem;
    height: 3rem;
  }
}

footer {
  text-align: center;
  margin: 3rem 0;
}

.menu-position {
  position:relative;
  margin-top: 1rem;
  margin-left: 1.5rem;
  z-index: 1;
}
.logo-position {
  position:relative;
  margin-top: -6.2rem;
  z-index: 0;
}

.grid-container-icon {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.hovering-icon:hover {
  backdrop-filter: blur(2rem);
  box-shadow: 0.4rem 0.4rem 1.3rem 0.5rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  border-radius: 0.5rem;
}

.selected-icon {
  outline: 1.5px solid #73ffff;
  outline-offset: -1.5px;
  border-radius: 0.5rem;
}

.border {
  border-radius: 1rem;
  border: 0.05rem solid rgb(223, 223, 223);
}